.grid {
  display: grid;
  grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc(
      (100% - 40px) / 3
    );
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  /* Styles for small screens go here */
  .grid {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens go here */
  .grid {
    grid-template-columns: repeat(2, calc((100% - 40px) / 2));
  }
}
